
<h1 class="mt-5">Traductor simple con ChatGPT</h1>

<div class="row">

    <div class="col-6">
      <app-language-list [language]="translateData.languageOrigen" (languageSelected)="translateData.languageOrigen = $event" ></app-language-list>
      <textarea [(ngModel)]="translateData.text" placeholder="Introducir texto" class="form-control translate-input" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <div class="col-6">
      <app-language-list [language]="translateData.languageDestino" (languageSelected)="translateData.languageDestino = $event" ></app-language-list>
      <textarea [(ngModel)]="translateData.translateText" placeholder="Traducción" readonly style="background-color:#f1f3f9" class="form-control translate-input" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <button class="mt-3 btn btn-primary" (click)="translateTexto()">Traducción</button>

</div>