<p>translate works!</p>


<div class="row">

    <div class="col-6">
        <select class="form-control mb-1" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        <textarea placeholder="Introducir texto" class="form-control translate-input" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <div class="col-6">
        <select class="form-control mb-1" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        <textarea placeholder="Traducción" readonly style="background-color:#f1f3f9" class="form-control translate-input" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

</div>